.footer {
  height: 200px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  flex-flow: row;
  padding: 1em;
}
