.offer {
  height: 500px;
  width: 350px;
  background-color: rgb(231, 238, 230);
  border-radius: 15px;
  text-align: center;
  color: black;
  padding: 10px;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(245, 240, 240);
    transition: ease-in 300ms;

    .offerTitle {
      transform: translateY(-1px);
    }
    .offerText {
      transform: translateY(-80px);
      transition: ease-in 300ms;
      visibility: visible;
    }
    .offerButton {
      transform: translateY(-80px);
      transition: ease-in 450ms;
      visibility: visible;
    }
  }

  img {
    width: 100%;
    height: 70%;
  }
  .offerButton {
    cursor: pointer;
    font-weight: bolder;
    padding: 1em;
    background-color: rgb(65, 230, 44);
    color: white;
    border-radius: 10px;
    outline: none;
    transform: translateY(100px);
    visibility: hidden;
    transition: ease-in-out 300ms;

    &:hover {
      opacity: 0.8;
      transition: 300ms;
    }
  }

  p {
    font-size: 20px;
    padding: 1em;
  }
}
.offerTitle {
  transform: translateY(80px);
  transition: ease-in-out 300ms;
}
.offerText {
  transform: translateY(100px);
  visibility: hidden;
  transition: ease-in-out 300ms;
}

@media (max-width: 500px) {
  .offer {
    width: 250px;
    height: 450px;
  }
}
