.basketOuter {
  padding: 5em 20%;
}
.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 3em;
  background-color: rgb(231, 238, 230);

  button {
    cursor: pointer;
    padding: 1em;
    background-color: rgb(65, 230, 44);
    color: white;
    border-radius: 10px;

    &:hover {
      opacity: 0.9;
    }
  }
}
.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgb(30, 70, 37);
  background-color: white;
  div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.quantity {
  position: absolute;
  top: 10%;
  right: 30%;
  padding: 3px 8px;
  border-radius: 30px;
  background-color: rgb(30, 70, 37);
  color: white;
}

@media (max-width: 1000px) {
  .basketOuter {
    padding: 0;
  }
  .quantity {
    top: 5%;
    right: 10%;
    padding: 1px 5px;
    border-radius: 30px;
    background-color: rgb(30, 70, 37);
    color: white;
    font-weight: bolder;
    font-size: 16px;
  }
}
