.cart {
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  background-color: rgb(231, 231, 241);
  opacity: 0.9;
  width: 500px;
  height: auto;
  padding: 2em;
  border: 1px solid black;
  border-radius: 10px;

  p {
    font-size: 20px;
  }
  button {
    cursor: pointer;
    padding: 1em;
    background-color: rgb(65, 230, 44);
    color: white;
    border-radius: 10px;

    &:hover {
      opacity: 0.9;
    }
  }
}
.cart2 {
  @extend .cart;
  top: 200px;
  right: 0;
}
.item {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  border-bottom: 1px solid black;
  p {
    padding: 5px;
  }
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.price {
  text-align: center;
  padding: 30px;
}
